.subpage{
    padding-top: 10vw;
    padding-bottom: 10vw;
    width: 100%;
}
.subhdg{
    color: #23272a;
    font-family: 'whitney2';
}
#subcolor2{
    background-color: #f6f6f6;
}
.fifthpage{
    background-color: #f6f6f6;
    padding-top: 8vw;
    padding-bottom: 8vw;
}
#fifthhead{
    font-family: 'ginto_nord2';
    color: #23272a;
}
#fifthsub{
    font-family: 'whitney2';
    color: black;
}
#button2{
    color: white;
    background-color: #5865f2;
}

.fifthwrite{
    width: 65vw;
}
#fifthsub{
    padding-top: 5vw;
}
.fifthdec{
    padding-bottom: 4vw;
}
@media (max-width: 768px){
    #button2{
        margin-left: 25px;
        margin-right: 25px;
    }
    .fifthwrite,#fifthsub{
        margin-left: 8vw;
    }
}
@media (max-width: 786px){
    #fifthhead{
        width: 80vw;
        font-size: 4vw;
    }
    .fifthdec{
        width: 80vw;
        text-align: start;
    }
    .subpage{
        padding-top: 12vw;
        padding-bottom: 12vw;
        width: 100%;
    }
}
